/* 2.css dummy styles */

.col1 { width:60px; }
.col2 { width:140px; }
.col3 { width:220px; }
.col4 { width:300px; }
.col5 { width:380px; }
.col6 { width:460px; }
.col7 { width:540px; }
.col8 { width:620px; }
.col9 { width:700px; }
.col10 { width:780px; }
.col11 { width:860px; }
.col12 { width:940px; }

.wrap1 { width:80px; }
.wrap2 { width:160px; }
.wrap3 { width:240px; }
.wrap4 { width:320px; }
.wrap5 { width:400px; }
.wrap6 { width:480px; }
.wrap7 { width:560px; }
.wrap8 { width:640px; }
.wrap9 { width:720px; }
.wrap10 { width:800px; }
.wrap11 { width:880px; }
.wrap12 { width:960px; }

