/* 1.css */

body {font-family: Arial;}
.disclaimer{font-size:10px;}
.banner { position: relative; overflow: auto; }
.banner li { list-style: none; }
.banner ul li { float: left; }
#content { background: #fff; margin: 0 20px 20px 20px }
#content h1 { padding:0; margin-top: 20px }
#header { background-color: #eee; font-weight: normal; margin:0; padding:10px; font-size: small;text-align:center; }
#magic-show { margin: auto }

.pics { height: 232px; width: 232px; padding:0; margin:0; overflow: hidden }
.pics img { height: 200px; width: 200px; padding: 15px; border: 1px solid #ccc; background-color: #eee; top:0; left:0 }
.pics img {-moz-border-radius: 10px; -webkit-border-radius: 10px;}

.navi {width:100%;text-align:center;margin-bottom:10px;}
button {border:1px solid transparent;}